NODE_ENV={{ node_env }}
BLOCKCHAIN_INIT_BLOCK={{ blockchain_init_block }}
BLOCKCHAIN_TOKEN_CONTRACT={{ blockchain_token_contract }}
BLOCKCHAIN_COMMUNITY_CONTRACT={{ blockchain_community_contract }}
BLOCKCHAIN_URL={{ blockchain_url }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
DB_HOST={{ db_host }}
DB_NAME={{ db_name }}
EVENT_SOURCE_HTTP_PORT={{ event_source_http_port }}
